*{
    margin: 0;
    padding: 0;
}
.container{
    border: 3px solid black;
    margin: 20px;
}
.flex_item{
    color: red;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}
.box-1{background-color: aqua;}
.box-2{background-color: rgb(90, 232, 50);}
.box-3{background-color: rgb(102, 42, 112);}
.box-4{background-color: rgb(168, 185, 35);}
.box-5{background-color: rgb(203, 36, 36);}
.box-6{background-color: rgb(61, 209, 28);}
.box-7{background-color: rgb(106, 0, 255);}
.box-8{background-color: rgb(214, 232, 18);}
.box-9{background-color: rgb(226, 52, 191);}

.container{
    display:grid;
/* ---grid-templete-column----
    grid-template-columns: 100px 200px 100px;
    grid-template-columns: 100px 200px 100px 200px ;
    grid-template-columns: repeat(5,200px);
    grid-template-columns: repeat(3,200px) 300px;
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-columns: repeat(3,minmax(200px 1fr));
/*----grid templete row-----
    height: 600px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 200px 300px;
  /*----grid-templete---is combined rows/columns------
    height: 600px;
    grid-template: repeat(3, 1fr)/repeat(3,1fr);
    row-gap: 4px;
    column-gap: 4px;
    gap: 4px 8px;
    gap:20px */
/*---justify-item and align-item---*/
    height: 600px;
    grid-template: repeat(3, 1fr)/repeat(3,1fr);
    justify-items: start;
    justify-items: center;
    justify-items: end;
    align-items: start;
    align-items: center;
    align-items: end;
    place-items: center start;
    place-items: center;
}
